:root {
    --c-black: rgb(14, 14, 14);
    --c-black-transparent: rgba(14, 14, 14, 0.2);
    --c-white: #FEFEFE;
    --c-gray: #9A8F8F;
    --c-vanilla: #FEF0B6;
    --c-vanilla-transparent: rgba(254, 240, 182, 0.5);
    --c-brown: #BEB199;
    --c-red: #BC4A3C;
}

@font-face {
    @font-face {
        font-family: "LibreBaskerville-Bold";
        src: url("../fonts/LibreBaskerville-Bold.ttf"),
      }
}

@font-face {
    @font-face {
        font-family: "LibreBaskerville-Italic";
        src: url("../fonts/LibreBaskerville-Italic.ttf"),
      }
}

@font-face {
    @font-face {
        font-family: "LibreBaskerville-Regular";
        src: url("../fonts/LibreBaskerville-Regular.ttf"),
      }
}


body {
    font-family: 'LibreBaskerville-Regular' !important;
    background-color: var(--c-brown);
    line-height: 1.2;
    color: var(--c-white);
}

p a {
	color: #fefefe;
    font-family: 'LibreBaskerville-Regular' !important;
}

p a:hover {
	color: #fafafa;
}

.parallax-mirror {
    filter: contrast(0.6) brightness(0.7);
}

#intro {
    display: flex;
    align-items: center;
}

#start-container {
    margin: 5rem auto;
    max-width: 1200px;
    padding: 0 2rem;
}

#page-title {
    font-size: 5rem;
    font-weight: 700;
}

.page-detail {
    font-size: 1.6rem;
    max-width: 60ch;
    margin: 0.5rem 0;
}

.page-detail.bold {
    font-weight: 700;
}

.menu-item-title {
    font-style: italic;
    font-size: 1.8rem;
    margin: 1rem 0 1.5rem 1rem;
    border-bottom: 1px solid var(--c-white);
}

.tm-menu-item {
    margin-bottom: 0.5rem !important;
    width: 100%;
}

.tm-menu-item > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tm-menu-item > div div {
    font-weight: 700;
}

.tm-menu-item h3 {
    margin: 0 !important;
}

#about p a { color: #fefefe; }

#about p a:hover { color: #fafafa; }

#contact p a { color: #fefefe; }

footer span a { color: #fafafa; }

.tm-logo-font {
    font-family: 'LibreBaskerville-Bold';
    font-weight: 700;
    line-height: 1;
}

.tm-container {
    max-width: 1200px;
    transition: all .3s ease-in;
}

.tm-item-container {
    background-color: var(--c-vanilla-transparent) !important;
}

.parallax-window {
    min-height: 1064px;
    background: transparent;
}

.tm-text-yellow {
    color: #fefefe;
}

.tm-text-gold {
    color: #ffffff;
}

.tm-text-brown {
    color: #ffffff;
}

.tm-text-green {
    color: #ac9b9b;
}

.bg-black {
    background-color: var(--c-gray);
}

.bg-white {
    background-color: var(--c-vanilla);
    font-weight: 700;
    color: var(--c-black);
}

a.tm-bg-green:hover {
    background-color: #fafafa;
}

.tm-bg-brown {
    background-color: rgb(172, 155, 155, 0.7);
}

.tm-bg-green {
    background-color: rgb(172, 155, 155, 0.7);
}

.tm-border-gold {
    border-color: #ac9b9b;
}

.tm-intro-width {
    max-width: 436px;
}

.tm-item-container {
    max-width: 520px;
}

.input:focus {
    outline: none !important;
    border:1px solid #CC9966;
    box-shadow: 0 0 10px #b67533;
}

input::placeholder,
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(214, 212, 212);
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(214, 212, 212);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(214, 212, 212);
}

#tm-nav {
    z-index: 1000;
    transition: all 0.3s ease;
    background: var(--c-black-transparent);
}

#tm-nav.scroll {
    background-color: var(--c-black);
}

#tm-nav li a {
    border-bottom-color: transparent;
    transition: all 0.3s ease;
}

#tm-nav li a.current,
#tm-nav li a:hover {
      border-bottom: 4px solid #CC9966;
}

.tm-text-2xl {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    #tm-nav.scroll .tm-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    #tm-nav {
        width: auto;
        right: 0;
        border-radius: 5px;
    }
}

@media (max-width: 639px) {
    .parallax-window {
        min-height: 600px;
    }
}

@media (max-width: 370px) {
    .tm-menu-item {
        flex-direction: column;
    }

    .tm-menu-item-2 {
        flex-direction: column-reverse;
    }

    .tm-menu-item img {
        margin-bottom: 10px;
    }

    .tm-menu-item-2 img {
        margin-bottom: 10px;
    }
}